body {
    width: 100%;
    height: 100vh;


}

main {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;

    .todo-list-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;

        .todo-list-header {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            height: 50px;
            padding: 0 20px;

            .title {

                display: flex;
                justify-content: flex-start;
                flex: 1 1;

                h1 {
                    align-self: center;
                    text-transform: uppercase;
                }
            }

            .action-buttons {
                display: flex;
                justify-content: flex-end;
                flex: 1 1;

                .add-todo-button {

                    width: 40px;
                    height: 40px;
                    align-self: center;

                }

            }
        }

        .todo-list-body {
            .list-header {
                width: 100%;

                ul {
                    width: 100%;
                    display: flex;

                    li {
                        flex: 1 1;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid;

                        &:not(:last-child) {
                            border-right: none;
                        }
                    }
                }
            }

            .list-body {
                width: 100%;

                ul {
                    width: 100%;
                    display: flex;

                    li {

                        flex: 1 1;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid;
                        border-top: none;

                        &:not(:last-child) {
                            border-right: none;
                        }
                    }
                }
            }
        }
    }


    .add-todo-modal {
        position: fixed;
        inset: 0;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);

        &.active {
            display: flex;

        }

        form {
            width: 300px;
            background-color: #333;
            padding: 40px;
            color: #fff;
            border-radius: 3px;

            .input-group {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;

                span {
                    font-size: 20px;
                    margin-bottom: 5px;
                }

                input {
                    border: 1px solid #eee;
                    padding: 5px;
                    border-radius: 3px;
                }

            }

            button {
                width: 100%;
                height: 40px;
            }

        }

    }




}